<div class="data-list">
    <p><span class="fw-bold mb-5">Cars <span class="iconify" style="font-size: 17px;" data-icon="akar-icons:chevron-right"></span>List Car <span class="iconify" style="font-size: 17px;" data-icon="akar-icons:chevron-right"></span></span> Add New Cars</p>
    <div>
    <h4 class="my-4">Add New Car</h4>
    </div>

    <div class="container-fluid add-cars-table">
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="py-5">
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label text-black-50">Nama<span class="text-danger">*</span> </label>
                <div class="col-sm-5">
                  <input type="password" placeholder="Placeholder" class="form-control" id="inputPassword" required>
                </div>
              </div>
                
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-black-50">Harga<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                      <input type="password" placeholder="Placeholder" class="form-control" id="inputPassword" required>
                    </div>
                  </div>
                
                  <div class="mb-3 row form-upload">
                    <label for="formFile" class="col-sm-2 col-form-label text-black-50">Foto<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                    <input class="form-control" type="file" id="formFile" required>
                    <p>File size max, 2MB</p>
                  </div>    
                  <div class="mb-3 row">
                    <p class="col-sm-2 col-form-label text-black-50">Start Rent</p>
                    <div class="col-sm-5">
                  <p>-</p>
                </div>
                </div>
                  <div class="mb-3 row">
                    <p class="col-sm-2 col-form-label text-black-50">Finish Rent</p>
                    <div class="col-sm-5">
                  <p>-</p>
                </div>
                </div>
                  <div class="mb-3 row">
                    <p class="col-sm-2 col-form-label text-black-50">Created at</p>
                    <div class="col-sm-5">
                  <p>-</p>
                </div>
                </div>
                  <div class="mb-3 row">
                    <p class="col-sm-2 col-form-label text-black-50">Updated at</p>
                    <div class="col-sm-5">
                  <p>-</p>
                </div>
                </div>
                
                  </div>    
                </div>
                </div>
                </form>

               

</div>
    </div>
    <div class="button-add">
    <button type="submit" class="btn btn-add" name="simpan"><i class="fas fa-upload"></i> Save</button>
    <button type="submit" class="btn btn-add2" name="hapus"><i class="far fa-trash-alt"></i> Delete</button>
</div>