<div class="container data-list">
    <p><span class="fw-bold mx-2">Car <span class="iconify" style="font-size: 17px;" data-icon="akar-icons:chevron-right"></span></span> List Car</p>
<div>
    <h4 class="my-4 mx-2">List Car</h4>
</div>

<div class="container">     
  <div class="row">     
<div class="button-area container-fluid d-flex justify-content-between">        
  <div class="d-flex justify-content-between">
    <a href="#" class="active button-card me-4">All</a>
    <a href="#" class="button-card me-4">Small</a>
    <a href="#" class="button-card me-4">Medium</a>
    <a href="#" class="button-card">Large</a>
  </div>
  <div class="d-flex">
    <a href="/partials/addunit" class="btn btn-card-up justify-content-end m-1"><span class="iconify" data-icon="akar-icons:plus"></span>Add New Car</a>
    </div>
  </div>        
</div> 
</div> 

<div class="container col-lg-12 mx-auto mt-4">
    <div class="row">
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                          <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                          <h5 class="card-title">Rp 430.000 / hari</h5>
                          <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                          <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                          <div class="d-flex justify-content-center">
                          <a href="#" class="third btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                          <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
                          </div>
                        </div>
                    </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third1 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third2 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third3 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third4 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third5 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third6 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third7 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
        <div class="col-md-4 col-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="/img/mobilnya.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6 class="card-subtitle text-dark mb-2 ">Nama / Tipe Mobil</h6>
                <h5 class="card-title">Rp 430.000 / hari</h5>
                <p class="card-text text-black-50"><span class="iconify" data-icon="ep:key" style="margin-right: 10px; font-size: 20px; transform: rotate(35deg);"></span>Start rent - Finish rent</p>
                <p class="card-text text-black-50 text-truncate"><span class="iconify" data-icon="ic:baseline-access-time" style="margin-right: 10px; font-size: 20px;"></span>Updated at 4 Apr 2022, 09.00</p>
                <div class="d-flex justify-content-center">
                <a href="#" class="third8 btn btn-outline-danger m-1"><span class="iconify" data-icon="maki:waste-basket" style="margin-right: 10px; font-size: 20px;"></span></i>Delete</a>
                <a href="/partials/addunit" class="btn btn-success m-1"><span class="iconify" data-icon="bxs:edit" style="margin-right: 10px; font-size: 22px;"></span>Edit</a>
              </div>
              </div>
              </div>
              </div>
                
</div>
        </div>
    </div>
